
<section class="wish">
    <!-- <div class="container">
         <div class="header">Wishlist</div>
   @for (item of watcharr; track $index) {
        <div class="item">
            <div class="item_description">
                <div class="item-img"><img src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" alt=""></div>
                <div class="item-text">
                    <p>{{item.title}}</p>
                </div>
            </div>
            
        </div>
        }
        

    </div> -->

<!-- //////////////////////////// -->

<div class="cards">
    
  @for (item of watcharr(); track $index) {
    <div class="card" (click)="goToDetails(item.id)">
      <app-watchcard-component [movie]="item" />
    </div>
  }
 

</div>

    
</section>