
.cards{
    margin-top: 5rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 3rem;

}
.card{
    width: 40%;
}

.empty{
    width: 100%;
    display: flex;
    color: red;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20rem;
h1{
    font-size: 5rem;
    color: #000000;
}
    i{
        color: #D1D1D1;
        font-size: 17rem;
    }
}



