.details {
    margin-top: 10rem;
    width: 100%;
}

.movie_img {
    width: 25rem;
}

.card {
    width: 100% !important;
    // display: flex;
    // justify-content: center;
}

.container {
    gap: 1rem;
    width: 100%;
    display: flex;
}







.text {
  flex: 1;
}
