<div class="details">

    <p-card class="card">
        <div class="container">

            <div class="details-wrapper">
                <div class="poster">
                    <img [src]="'https://image.tmdb.org/t/p/w500' + movie().poster_path" alt="Poster" />
                </div>
                <div class="details-text">
                    <h2>{{ movie().title }}</h2>
                    <p><strong>Release Date:</strong> {{ movie().release_date }}</p>
                    <div class="rating">
                        <p-rating [readonly]="true" [ngModel]="roundedVoteAverage" stars="10"></p-rating>
                        <span>{{ movie().vote_average }}/10</span>
                    </div>
                    <p class="overview">{{ movie().overview }}</p>
                    <div class="genres">
                        <span *ngFor="let genre of movie().genres" class="genre">
                            {{ genre.name }}
                        </span>
                    </div>
                    <div class="extra-info">
                        <p><strong>Duration:</strong> {{ movie().runtime }} min</p>
                        <p>
                            <strong>Language:</strong>
                            {{ movie().spoken_languages?.[0]?.english_name || 'N/A' }}
                        </p>
                    </div>
                    <div class="production-logo">
                        <img *ngIf="movie().production_companies?.[0]?.logo_path"
                            [src]="'https://image.tmdb.org/t/p/w200' + movie().production_companies[0].logo_path"
                            alt="Production Company" />
                    </div>
                    <div class="homepage" *ngIf="movie().homepage">
                        <a class="website_btn" [href]="movie().homepage" target="_blank"> <i class="pi pi-link"></i>
                            Website</a>
                    </div>
                </div>
            </div>

        </div>

    </p-card>
</div>





<!-- {
    "adult": false,
    "backdrop_path": "/sItIskd5xpiE64bBWYwZintkGf3.jpg",
    "belongs_to_collection": {
        "id": 1494663,
        "name": "Ballerina Collection",
        "poster_path": "/xzAyYTHqWtLmqtscUr8cZqaP7lu.jpg",
        "backdrop_path": null
    },
    "budget": 90000000,
    "genres": [
        {
            "id": 28,
            "name": "Action"
        },
        {
            "id": 53,
            "name": "Thriller"
        },
        {
            "id": 80,
            "name": "Crime"
        }
    ],
    "homepage": "https://johnwick.movie/film/ballerina",
    "id": 541671,
    "imdb_id": "tt7181546",
    "origin_country": [
        "US"
    ],
    "original_language": "en",
    "original_title": "Ballerina",
    "overview": "Taking place during the events of John Wick: Chapter 3 – Parabellum, Eve Macarro begins her training in the assassin traditions of the Ruska Roma.",
    "popularity": 418.1243,
    "poster_path": "/mKp4euM5Cv3m2U1Vmby3OGwcD5y.jpg",
    "production_companies": [
        {
            "id": 3528,
            "logo_path": "/cCzCClIzIh81Fa79hpW5nXoUsHK.png",
            "name": "Thunder Road",
            "origin_country": "US"
        },
        {
            "id": 23008,
            "logo_path": "/5SarYupipdiejsEqUkwu1SpYfru.png",
            "name": "87Eleven",
            "origin_country": "US"
        },
        {
            "id": 1632,
            "logo_path": "/cisLn1YAUuptXVBa0xjq7ST9cH0.png",
            "name": "Lionsgate",
            "origin_country": "US"
        }
    ],
    "production_countries": [
        {
            "iso_3166_1": "US",
            "name": "United States of America"
        }
    ],
    "release_date": "2025-06-04",
    "revenue": 100000000,
    "runtime": 125,
    "spoken_languages": [
        {
            "english_name": "English",
            "iso_639_1": "en",
            "name": "English"
        }
    ],
    "status": "Released",
    "tagline": "Vengeance has a new face.",
    "title": "Ballerina",
    "video": false,
    "vote_average": 7.1,
    "vote_count": 449
} -->