<div class="cards">
    
  @for (item of movies(); track $index) {
    <div class="card" (click)="goToDetails(item.id)">
      <app-mooviecard [movie]="item" class=/>
    </div>
  }
<p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />

<!-- 
  <div class="card flex justify-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120" [rowsPerPageOptions]="[10, 20, 30]" />
</div> -->
</div>
