<div class="search">
  <h2>Welcome to our movie app</h2>
  <p>Millions of movies, TV shows and people to discover. Explore now.</p>
  

</div>

<div class="cards">
  @for (item of movies(); track $index) {
  <div class="card" (click)="goToDetails(item.id)">
    <app-mooviecard [movie]="item" class= />
  </div>
  }
  <div class="paginator">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="120"
      [rowsPerPageOptions]="[10, 20, 30]" />
  </div>

</div>