.cards{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;

}
.card{
    width: 20%;
}
.footer{
    display: flex;
}
.paginator{
    margin-bottom: 3rem;
}