<section class="search">
  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for a movie..."
      [(ngModel)]="query"
    />
    <button (click)="onSearch()">Search</button>
  </div>

  <div *ngIf="loading">Loading...</div>

  <div class="results" *ngIf="movies.length > 0">
    <div
      class="card"
      *ngFor="let movie of movies"
      (click)="goToDetails(movie.id)"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
        alt="Poster"
      />
      <div class="info">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.release_date }}</p>
        <p class="overview">{{ movie.overview }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="!loading && movies.length === 0 && searched">
    <p>No results found.</p>
  </div>
</section>
