
<!-- 
          <div class="card">
                <div class="poster">
                  <img alt="Card" class="w-full" src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" />
                </div>
                <div class="">
                    <h4 class="title">{{movie.title}}</h4>
                  <p class="date"> {{movie.release_date}} </p>
                </div>
                  
      
                  <button pButton type="button" (click)="toggleWish($event, movie)" class="wishlist-btn"
                      [style]="{ background: 'transparent', border: 'none', padding: '0' }">
                      <i [ngClass]="isInWish(movie.id) ? 'pi pi-heart-fill' : 'pi pi-heart'"
                          style="color: #FFE353; font-size: 1.2rem;"></i>
                  </button>
          </div>
  -->

<div class="card">
  <div class="poster">
    <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" alt="Movie Poster" />
  </div>

  <div class="details">
    <h4 class="title">{{ movie.title }}</h4>
    <p class="date">{{ movie.release_date }}</p>
    <p class="overview">{{ movie.overview }}</p>
  </div>

  <button
    pButton
    type="button"
    (click)="toggleWish($event, movie)"
    class="wishlist-btn"
    [style]="{ background: 'transparent', border: 'none' }"
  >
    <i [ngClass]="isInWish(movie.id) ? 'pi pi-heart-fill' : 'pi pi-heart'"></i>
  </button>
</div>
