<section class="nav">
    <div class="container">
        <div class="logo">
            <a class="logo" routerLink="">
                <p>Movie App</p>
            </a>
            <div class="tv">
                <a class="logo" routerLink="tv">
                <p>Tv Shows</p>
            </a>
            </div>
        </div>
        
        <div class="buttons">
            <a routerLink="/watchlist" class="logo">
                <i class="pi pi-heart-fill"></i>
                <p>Watchlist</p>
            </a>

        </div>
    </div>
</section>