/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    border-radius: 2rem;
}
.container{
    width: 90%;
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
}